.reveal .slides {
  font-size: 24px;
  text-align: left;
}

.reveal h1 {
  font-size: 36px;
}

.reveal h2 {
  font-size: 32px;
}

.reveal h3 {
  font-size: 30px;
}

.reveal h4 {
  font-size: 28px;
}

.reveal h5 {
  font-size: 26px;
}

.reveal h6 {
  font-size: 14px;
}
